 <header>
	<h1 class="site-title"><a href="/gamePage">Video Game Catalog</a></h1>
	<nav>
	  <div class = "nav-bar">
	    <a href = "/library"><i class="fa fa-book"></i> My Library</a>
	    <a href = "/gamePage"><i class="fa fa-home"></i> Home Page</a>
	  </div>
	</nav>
</header>