 <header>
	<h1 class="site-title"><a href="./index.html">Video Game Catalog</a></h1>
	<nav>
	  <div class = "nav-bar">
	    <a href = "./library.html"><i class="fa fa-book"></i> My Library</a>
	  </div>
	</nav>
</header>