<button type="button" id="sell-game-button"><i class="fa fa-usd"></i></button>
<div id="modal-backdrop" class="hidden"></div>
<div id="sell-game-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Sell a Game</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="game-input-element">
        <label for="game-text-input">Game Title</label>
        <input type="text" id="game-text-input"></input>
      </div>

      <div class="game-input-element">
        <label for="game-photo-input">Box Art</label>
        <input type="text" id="game-photo-input">
      </div>

      <div class="game-input-element">
        <label for="game-price-input">Selling price ($)</label>
        <input type="number" id="game-price-input">
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Sell Game</button>
	  <button type="button" id="library-add-button" class="library-button">Add Game to Library</button>
    </div>

  </div>
</div>