<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video Game Catalog</title>

    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">

    <script src="./index.js" charset="utf-8" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    <script src="/gameTemplate.js"></script>

  </head>
  
  <body>
  
	{{{body}}}
	
  </body>
</html>