{{> header}}
<h2 class="subtitle">My Library</h2>

	<main class="content">


      <section id="games">
		
		{{#each libraryGameList}}
			{{> gameTemplate}}
		{{/each}}

      </section>
    </main>

    {{>modal}}
  </main>